.example-spacer {
    flex: 1 1 auto;
  }

  .round-icon {
    padding-right: 8px;
    display: inline-flex;
  }

  .drop-down {
    padding: 6px 8px;
  }

  .user-information {
    display: flex;
    flex-direction: row;
    h3 {
      font-size: 14px;
      display: inline-flex;
      align-items: center;
    }
  }

  .profile-img {
    height: 30px;

    width: 30px;
    display: block;
    border-radius: 50%;
  }