/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);
@include mat-core();


// Create the theme object (a Sass map containing all of the palettes).
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
}